*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(20, 4, 20);
    align-items: center;
    justify-content: center;
}
.clock{
    margin: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border: 10px solid rgba(235, 232, 232, 0.5);
    border-radius: 50%;
    box-shadow: 0 5px 5px 7px rgba(117, 114, 114, 0.7),
                inset 0 5px 5px 5px rgba(207, 200, 200, 0.5),
                inset 0 8px 8px 10px rgba(207, 200, 200, 0.7),
                inset 0 10px 10px 20px rgba(207, 200, 200, 0.8);
}
.clock::before{
    content:'';
    position: absolute;
    height: 1px;
    width: 1px;
    color: teal;
    border: 5px solid teal;
    border-radius: 50%;
    z-index: 10;
}
.hour, .minute, .second
{
    position: absolute;
}
.hour, .hr{
    width: 200px;
    height: 200px;
}
.minute, .mn{
    width: 230px;
    height: 230px;
}
.second, .sc{
    width: 250px;
    height: 250px;
}
.hr,.mn,.sc{
    display: flex;
    position: absolute;
    justify-content: center;
}
.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 100px;
    background: white;
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 110px;
    background: white;
}
.sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    background: teal;
}
.digital{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-size: 2rem;
}
